.myth-heading-row
{
  font-weight: bold;
  padding-left: 30px;
}

.myth-data
{
  min-width: 1em;
}

.myth-length
{
  min-width: 2.5em;
}

.myth-data-row
{
  padding-left: 45px;
}

.separator
{
  color: #888888;
}

.myth-right
{
  text-align: right;
}

.myth-padded
{
  padding-right: 5px;
}

.myth-column
{
  padding-right: 20px;
}
