/* .panel-label */
/* { */
/*   padding: .4em 1.75em; */
/*   font-size: 10.5pt; */
/*   color: #cccccc; */
/*   font-weight: bold; */
/* } */
.myth-heading-row
{
  padding-left: 30px;
}

.myth-data-row
{
  padding-left: 45px;
}

.myth-misc-label
{
  color: #999999;
}

.myth-right
{
  text-align: right;
}

.myth-padded
{
  padding-right: 5px;
}

.myth-column
{
  padding-right: 20px;
}
